*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.debug [class*="col-"]{
  border: 1px solid black;
  height: 150px;
}

.container{
    background-color: pink;
}

p{
  text-align: center;
  line-height: 150px;
}

 .col{

 background-color: rgb(232, 81, 96);
   margin-top: 5px;
   margin-left: 5px;
   margin-bottom: 10px;
   margin-right: -5px;
   
}

#colonna{
  border: 1px solid white;

}
